.hparallax {
    /* The image used */
    background-image: url("./parallax_home.png");
  
    /* Set a specific height */
    height: 700px;
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
  }
  
  h1{
      /* text settings */
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 68px;
    color: #fff;
  }
  h1.seefirst{
      padding-top: 90px;
  }
  h2.slash{
      font-family: "Montserrat",sans-serif;
      color: #ff007b;
      font-weight: 400;
      font-style: normal;
      font-size: 80px;
  }

@media only screen and (min-width: 1441px) and (max-width: 1600px){
    
}

@media only screen and (min-width: 1200px) and (max-width: 1440px){
    
}

@media only screen and (min-width: 768px) and (max-width: 1199px){
    
    
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  h1{
    font-size: 50px;
  }
  .hparallax{
    background-position: -180px 50px;
    background-attachment: unset;
    background-size: cover;
  }
}

@media only screen and (min-width: 100px) and (max-width: 320px){
  h1{
    font-size: 50px;
  }
  .hparallax{
    background-position: -180px 50px;
    background-attachment: unset;
    background-size: cover;
  }
}